.trevor-Noah{
    display:inline-block;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
}
.reading-section{
    box-shadow: 10px 10px 10px#F97D30;
    ;
}
#born-crime{
    text-align: center;
    font-size: 50px;
}